POWER_LVL_CONTROL 						28
maxTestPktTrainCnt 						800
max_no_of_new_bandits					12.0
max_no_of_new_bandits_shrink_factor		0.80
min_success_percent						0.2
min_play_cnt							0.0
BANDIT_SETTLE_FACTOR					3
bandit_flutter_factor					4
playCount 								0
mode									experimentalbandits 		//experimentalbandits or bertest	